* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pie-cont {
  width: 45%;
  height: 90%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid black; */
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 1rem;

  @media screen and (max-width: 425px) {
    width: 90%;
    height: 40%;
    margin-left: 0;
  }
}

.pie-heading {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: bold;
  color: #000;
  padding-left: 1rem;
  margin-top: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.date {
  width: 25%;
  height: 2rem;
  position: absolute;
  border: none;
  outline: none;
  margin-top: 0.5rem;
  right: 1rem;
  color: #858585;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;

  &::placeholder {
    color: #858585;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
  }

  @media screen and (max-width: 768px) {
    width: 35%;
    font-size: 0.6rem;
    right: 0.5rem;
  }

  @media screen and (max-width: 425px) {
    width: 25%;
    font-size: 0.6rem;
    right: 0.5rem;
  }
}
