@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

.cards-cont {
  width: 100%;
  height: 15%;
  /* border: 1px solid black; */
  /* background-color: #444; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  margin: 1rem 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: 30%;
  }

  @media screen and (max-width: 425px) {
    height: 20%;
  }
}

.first-half,
.second-half {
  width: 48%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 80%;
  }
}

.cards {
  position: relative;
  width: 46%;
  height: 80%;
  /* border: 1px solid black; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  border-radius: 15px;
}

.title {
  font-size: 1vw;
  font-family: "Lato", sans-serif;
  margin-bottom: 0.2rem;

  @media screen and (max-width: 768px) {
    font-size: 1.5vw;
  }

  @media screen and (max-width: 425px) {
    font-size: 2.5vw;
  }
}

.numbers {
  font-size: 1.8vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 0.4rem;

  @media screen and (max-width: 768px) {
    font-size: 2.5vw;
  }

  @media screen and (max-width: 425px) {
    font-size: 4vw;
  }
}

.cards-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20%;
  height: 20%;
}

#card-1 {
  background-color: #ddefe0;
}

#card-2 {
  background-color: #f4ecdd;
}

#card-3 {
  background-color: #efdada;
}

#card-4 {
  background-color: #dee0ef;
}
